@import '../../styles/main'
@import '../../styles/variables'

.carousel
    display: flex
    flex-direction: column
    gap: 80px
    padding: 50px 0px
    margin-bottom: 120px
    overflow: hidden
    &__top
        display: flex
        justify-content: space-between
        max-width: 1200px
        width: 85%
        margin: auto
        h2
            font-family: $main-title
            font-size: 44px
            line-height: 150%
        &-buttons
            display: flex
            align-items: flex-end
            gap: 10px
    &__slider
        display: flex
        gap: 20px
        width: fit-content
        width: -moz-fit-content
        overflow: hidden
        transition: transform 0.5s ease-in-out
        &-card
            position: relative
            display: flex
            flex-direction: column
            gap: 20px
            p
                font-size: 18px
                font-weight: bolder
            &-body
                position: relative
                display: flex
                justify-content: center
                align-items: flex-end
                background-color: $soft-pink
                border-radius: 15px
                img
                    width: 320px
                    height: auto
                    border-radius: 13px
            &-footer
                display: flex
                flex-direction: column
                gap: 10px
                font-size: 15px
                &-info
                    display: flex
                    justify-content: space-between
                    color: $soft-gray
                    &-ranking
                        display: flex
                        gap: 5px
                        font-size: 14px
                    &-offer
                        display: flex
                        gap: 10px
                        &-max
                            text-decoration: line-through
                        &-min
                            color: #000
    &__bottom
        display: flex
        justify-content: center
        width: 95%
        margin: auto

.carousel__slider-card-button
    position: absolute
    bottom: 15px
    width: 90%

.carousel__button
    position: relative

@media (max-width: 650px)
    .carousel
        gap: 40px
        &__top
            flex-direction: column
            gap: 20px
        h2
            font-size: 28px
        &__slider
            margin-left: 30px
            &-card
                &-body
                    img
                        width: 247px
                &-footer
                    &-info
                        flex-direction: column
                        gap: 10px
